@import 'variables';

header {
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
  background-image: url('~assets/images/cardio-banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: $shadow-light, 0 -4px 6px 0 hsla(0, 0%, 0%, 0.1);

    h1 {
      margin: 0;
      padding-left: 20px;
      font-size: $text-header;
      color: white;
    }
}

form {
  padding: 0;
}
