<main>
  <header>
    <h1>Cardio</h1>
  </header>
  <section id="cardio">
    <div class="calendar">
      <div class="month">
        <span class="prev">&#10094;</span>
        <div style="text-align: center">
          <h2>April</h2>
          <span class="year">2018</span>
        </div>
        <span class="next">&#10095;</span>
      </div>
      <ul class="weekdays">
        <li class="weekday">Su</li>
        <li class="weekday">Mo</li>
        <li class="weekday">Tu</li>
        <li class="weekday">We</li>
        <li class="weekday">Th</li>
        <li class="weekday">Fr</li>
        <li class="weekday">Sa</li>
      </ul>
      <ul class="days">
        <li class="day">1</li>
        <li class="day">2</li>
        <li class="day">3</li>
        <li class="day">4</li>
        <li class="day">5</li>
        <li class="day">6</li>
        <li class="day">7</li>
        <li class="day">8</li>
        <li class="day">9</li>
        <li class="day">10</li>
        <li class="day">11</li>
        <li class="day">12</li>
        <li class="day">13</li>
        <li class="day">14</li>
        <li class="day">15</li>
        <li class="day">16</li>
        <li class="day">17</li>
        <li class="day">18</li>
        <li class="day">19</li>
        <li class="day">20</li>
        <li class="day">21</li>
        <li class="day">22</li>
        <li class="day">23</li>
        <li class="day">24</li>
        <li class="day">25</li>
        <li class="day">26</li>
        <li class="day">27</li>
        <li class="day">28</li>
        <li class="day">29</li>
        <li class="day">30</li>
      </ul>
    </div>

    <h1>Add Cardio Record</h1>
    <form name="addCardioForm" (submit)="addCardio()">
      <label for="activity">Activity</label>
      <input required type="text" name="activity">
      <label for="duration">Duration (mins)</label>
      <input required type="number" name="duration" min="5" step="5" value="15">
      <button type="submit" class="solid">Create</button>
    </form>
  </section>
</main>
