<main>
  <header>
    <h1>Strength</h1>
  </header>
  <section id="strength">
    <button (click)="openModal()">Open Modal</button>

    <div class="modal-overlay" (click)="outsideClick($event)">
      <div class="modal">
          <div class="modal-header">
              <h3>{{ modalTitle }}</h3>
              <span class="close" (click)="closeClick()">&times;</span>
          </div>
          <div class="modal-body">
            Modal Body
          </div>
      </div>
  </div>
  </section>
</main>
