@import 'variables';

section#dashboard {
  display: flex;

  div.card {
    flex: 1;
    height: 400px;
    background: white;
    box-shadow: $shadow-regular;

    &:nth-child(1) {
      margin-right: 25px;
    }

    &:nth-child(2) {
      div.card-header {
        background-image: url('~assets/images/cardio.jpg');
        background-position: bottom;
      }
    }

    div.card-header {
      display: flex;
      align-items: center;
      height: 100px;
      padding-left: 10px;
      background-image: url('~assets/images/strength.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
    }
  }
}
