@import 'variables';

button {
  text-transform: uppercase;
  padding: 10px 15px;
  box-shadow: $shadow-regular;
  border: none;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-dark;
  }

  &:focus {
    outline-color: $color-brand;
  }

  // primary
  &.primary {
    background: transparent;
    border: 1px solid $color-brand;
    color: $color-brand;
    transition: 0.15s;

    &:hover {
      background: $color-brand;
      color: $color-primary;
    }
  }

  // solid
  &.solid {
    background: $color-brand;
    border: 1px solid $color-brand;
    color: $color-primary;
    transition: 0.15s;

    &:hover {
      background: $color-primary;
      color: $color-brand;
      border-color: $color-primary;
    }
  }
}
