@import 'variables';

div.card {
  height: 400px;
  background: white;
  box-shadow: $shadow-regular;

  div.card-header {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 10px;
  }

  div.card-body {
    padding: 10px;
  }
}
