@import 'variables.scss';

@mixin base-icon {
    display: inline-flex;
    border-radius: 50%;
    background: $color-dark;
    box-shadow: $shadow-light;
    vertical-align: middle;

    img {
        height: 100%;
        width: 100%;
    }
}

div.icon {
    @include base-icon;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-right: 10px;

    &-small {
        @include base-icon;
        width: 15px;
        height: 15px;
        padding: 8px;
        margin-right: 5px;
    }

    &-large {
        @include base-icon;
        width: 45px;
        height: 45px;
        padding: 12px;
        margin-right: 15px;
    }
}
