@import 'variables';

div.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    background: hsla(0, 0%, 0%, 0.7);

    div.modal {
        margin: auto;
        width: 70%;
        background: white;
        box-shadow: 5px 5px 8px 0 hsla(0, 0%, 0%, 0.5);
        animation: fadeInUp 0.25s;

        div.modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 15px;
            background: white;
            color: $color-primary;
            //border-top: 8px solid $color-primary;
            //border-bottom: 8px solid $color-primary;

            h3 {
                margin: 0;
                //font-family: $modal-header-font;
            }

            span.close {
                font-size: 40px;
                color: $color-tertiary;
                transition: 0.25s;

                &:hover,
                &:focus {
                    cursor: pointer;
                    color: $color-primary;
                }
            }
        }

        div.modal-body {
            height: 500px;

            img.modal-image {
                height: 100%;
                width: 100%;
            }
        }

    }
}
