@import 'variables';
@import 'forms';
@import 'buttons';
@import 'icons';
@import 'spinners';
@import 'modals';

html {
  font-size: 10px;
}

body {
  font-family: $font-sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

// every router view is wrapped in a main tag
main {
  background: $color-background;
  animation: fadeIn 0.5s;
}

section {
  padding: 0 60px;
}
