@import 'variables';
@import 'forms';
@import 'buttons';
@import 'icons';
@import 'spinners';

html {
  font-size: 10px;
}

body {
  font-family: $font-sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

span.pop {
  padding: 0 10px;
  border-radius: 5px;
  background: $color-brand;
  color: white;
}
